// Variables
$top-left: red;
$top-right: blue;
$bottom-left: orange;
$bottom-right: green;
$question-input-box: lavender;
$button-background-color: #00ccff;

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(to bottom right, #FFBE0B, #FF006E);
}

.PGGradient {
  background-image: linear-gradient(to bottom right, #a87be7, rgb(64, 204, 64));
}

a {
  text-decoration: none;
  color: black;
}

// HEADER

main {
  display: inline;
}

.headerTitle {
  display: inline-block;
  margin: 0;
  margin-left: 50px;
}

header {
  span {
    display: inline-block;
    div {
      width: 35px;
      height: 5px;
      background-color: black;
      transition: 0.5s;
    }
  }
  .button {
    transition: 0.5s;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
    margin-right: 50px;
    margin-top: 15px;
  }
  .bar1,
  .bar2,
  .bar3 {
    margin-top: 6px;
    border-radius: 100px;
  }
  position: fixed;
  top: 0;
  float: right;
  transition: 0.5s;
  z-index: 10;
  margin-bottom: 50px;
  width: 100%;
  display: inline;
  white-space: nowrap;
  margin-top: 15px;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: black; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 80px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav {
  position: fixed;
  top: 0;
  right: 0;
  font-size: 36px;
  margin-left: 50px;
}

.spacer {
  width: 100%;
  height: 70px;
}

// FOOTER

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

.relativeFooter {
  position: relative;
}

// General
@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');

* {
  font-family: 'Ranchers', cursive;
  box-sizing: border-box;
}

.required {
  color: red;
}
footer{
  margin-top: 1em;
}

// buttons
input[type=submit]{
  border-radius: 8px;
  padding: 1em;
  background-color: #00ccff;
  font-size: x-large;
  transition-duration: 0.4s;
  &:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #008cff;
  }
}

.loginButtonContainer {
    text-align: center;
  a {
    text-decoration: none;
    color: #0A8754;
  }
}

// Login Page

.form> {
  display: block;
  text-align: center;
}

fieldset {
  background-color: white;
}

#login-button{
  width: 7em;
}
#login-button-label, #login-button-label a{
  text-align: center;
}
.loginFieldset {
  width: 5em;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 0 10px #666;
  position: relative;
}

button {
  background-color: $button-background-color;
}

input[type=text] {
  margin: 0.2em;
  padding: 1em;
  width: 30em;
  margin-bottom: 2em;
  border-radius: 10px;
}
label,
button {
  font-size: x-large;
  font: "Ranchers";

}

// Sign up Page
input[type="password"] {
  margin: 0.2em;
  padding: 1em;
  width: 30em;
  margin-bottom: 2em;
  border-radius: 10px;
}
.signUpButtonContainer {
  text-align: center;
  a {
    text-align: center;
    text-decoration: none;
    color: #0A8754;
  }
}
#signup-button {
  width: 7em;
  border-radius: 8px;
  padding: 1em;
  background-color: #00ccff;
  font-size: x-large;
  transition-duration: 0.4s;
  &:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #008cff;
  }
}

.signUpFieldset {
  width: 5em;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 0 10px #666;
  position: relative;
  height: 750px;
}

// Add Question Page
#grid-container-add-question {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  justify-items: center;
  margin: 0 auto;
  max-width: 800px;
}

.question-input::placeholder{
  color: white;
}

#question-input {
  grid-column: 1/-1;
  width: 100%;
  margin-bottom: -4em;
}

#answer-one {
  color: white;
  grid-column: 1/2;
  width: 10em;
  height: 10em;
  text-align: center;
  font-size: x-large;
  border: 2px solid black;
  background-color: $top-left;
}

#answer-two {
  color: white;
  grid-column: 2/3;
  width: 10em;
  height: 10em;
  text-align: center;
  font-size: x-large;
  border: 2px solid black;
  background-color: $top-right;
}

#answer-three {
  color: white;
  grid-column: 1/2;
  width: 10em;
  height: 10em;
  text-align: center;
  font-size: x-large;
  border: 2px solid black;
  background-color: $bottom-left;
}

#answer-four {
  color: white;
  grid-column: 2/3;
  width: 10em;
  height: 10em;
  text-align: center;
  font-size: x-large;
  border: 2px solid black;
  background-color: $bottom-right;
}
#topics-container {
  margin-top: -5em;
  grid-column: 1/2;
}
#difficulty-container {
  margin-top: -5em;
  grid-column: 2/3;
}
#add-question {
  grid-column: 1/-1;
  margin-top: -1em;
  padding: 1em;
  transition-duration: 0.4s;
  border-radius: 8px;
  &:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #008cff;
  }
}
@media only screen and (max-width: 600px){
  #grid-container-add-question{
    display:block;
    margin: 0 auto;
    max-width: 50%;
    text-align: center;
  }
  #answer-one{
    margin-top: 2em;
  }
  #answer-two{
    margin-top: 1em;
  }
  #answer-three{
    margin-top: 1em;
  }
  #answer-four{
    margin-top: 1em;
  }
  #topics-container{
    margin-top: 1em;
  }
  #difficulty-container{
    margin-top: 1em;
  }
  #add-question{
    text-align: center;
    margin-top: 1em;
  }
  
}

// Gameplay Page

#grid-container-gameplay {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  justify-items: center;
  margin: 0 auto;
  max-width: 800px;
}
#points-div {
  grid-column: 1/-1;
}
#gameplay-question-container {
  grid-column: 1/-1;
}
#gameplay-question {
  // you would generate the actual question here
}
#answer-one-div {
  color: white;
  grid-column: 1/2;
  width: 10em;
  height: 10em;
  padding-top: 4em;
  text-align: center;
  font-size: x-large;
  border: 2px solid black;
  background-color: $top-left;
}

#answer-two-div {
  color: white;
  grid-column: 2/3;
  width: 10em;
  height: 10em;
  padding-top: 4em;
  text-align: center;
  font-size: x-large;
  border: 2px solid black;
  background-color: $top-right;
}

#answer-three-div {
  color: white;
  grid-column: 1/2;
  width: 10em;
  height: 10em;
  padding-top: 4em;
  text-align: center;
  font-size: x-large;
  border: 2px solid black;
  background-color: $bottom-left;
}

#answer-four-div {
  color: white;
  grid-column: 2/3;
  width: 10em;
  height: 10em;
  padding-top: 4em;
  text-align: center;
  font-size: x-large;
  border: 2px solid black;
  background-color: $bottom-right;
}

// Start Game

.startGameFieldset {
  width: max-content;
  margin: 0 auto;
  border-radius: 8px;
}

#start-game-header {
  background-color: #00ccff;
  padding: 0.1em;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 15px;
  width: 400px;
  border-radius: 8px;
}
#start-game-topics-container {
  background-color: #00ccff;
  margin-top: 1em;
  padding: 0.5em;
  text-align: center;
  font-size: x-large;
  margin: 0 auto;
  margin-top: 15px;
  width: 400px;
  border-radius: 8px;
}
#start-game-fieldset{
  width: 17em;
  text-align: center;
  margin: 0 auto;
  border-radius: 8px;
}
.difficulty-label {
  max-width: 100%;
}
#start-game-topics {
  font-size: 1.5rem;
}

#start-game-topics option {
  font-size: x-large;
}
#start-game-button-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#start-game-button {
  grid-column: 2/3;
  margin-top: 1em;
  padding: 1em;
  border-radius: 8px;
}

// High Scores

#high-scores {
  display: table;
  margin: 0 auto;
  max-width: 100%;
}

table {
  margin: 0 auto;
  max-width: 100%;
  margin-top: 1em;
}
table,
th,
tr,
td {
  border: 1px solid none;
  border-collapse: collapse;
  padding: 1em;
  font-size: 25px;
}
th {
  background-color: #00ccff;
}
tr:nth-child(odd) {
  background-color: #e6faff;
}
tr:nth-child(even) {
  background-color: #ccf5ff;
}

@media only screen and (max-width: 600px){
  #grid-container-gameplay{
    display:block;
    margin: 0 auto;
    max-width: 50%;
  }
  #answer-one-div {
    width: 75%;
    height: 75%;
    margin-top: 2em;
  }
  
  #answer-two-div {
    width: 75%;
    height: 75%;
    margin-top: 1em;
  }
  
  #answer-three-div {
    width: 75%;
    height: 75%;
    margin-top: 1em;
  }
  
  #answer-four-div {
    width: 75%;
    height: 75%;
    margin-top: 1em;
  }
  
}

@media only screen and(max-width: 500px){
  #login-fieldset{
    max-width: 5em;
  }
}
