@import url("https://fonts.googleapis.com/css2?family=Ranchers&display=swap");
.htmlHeight, .YPGradient {
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FFBE0B), to(#FF006E));
  background-image: linear-gradient(to bottom right, #FFBE0B, #FF006E);
}

main {
  display: inline;
}

.headerTitle {
  display: inline-block;
  margin: 0;
  margin-left: 50px;
}

header {
  position: fixed;
  top: 0;
  float: right;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 10;
  margin-bottom: 50px;
  width: 100%;
  display: inline;
  white-space: nowrap;
  margin-top: 15px;
}

header span {
  display: inline-block;
}

header span div {
  width: 35px;
  height: 5px;
  background-color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .button {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
  margin-right: 50px;
  margin-top: 15px;
}

header .bar1,
header .bar2,
header .bar3 {
  margin-top: 6px;
  border-radius: 100px;
}

.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  right: 0;
  background-color: black;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 80px;
  /* Place content 60px from the top */
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidenav {
  position: fixed;
  top: 0;
  right: 0;
  font-size: 36px;
  margin-left: 50px;
}

.spacer {
  width: 100%;
  height: 70px;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

.relativeFooter {
  position: relative;
}

* {
  font-family: 'Ranchers', cursive;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.required {
  color: red;
}

footer {
  margin-top: 1em;
}

input[type=submit] {
  border-radius: 8px;
  padding: 1em;
  background-color: #00ccff;
  font-size: x-large;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

input[type=submit]:hover {
  -webkit-box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: #008cff;
}

.loginButtonContainer {
  margin: 0;
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.loginButtonContainer a {
  text-decoration: none;
  color: #0A8754;
}

.form > {
  display: block;
  text-align: center;
}

fieldset {
  background-color: white;
}

#login-button {
  width: 7em;
}

#login-button-label, #login-button-label a {
  text-align: center;
}

.loginFieldset {
  width: 5em;
  margin: 0 auto;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px #666;
          box-shadow: 0 0 10px #666;
  position: relative;
  height: 450px;
}

button {
  background-color: #00ccff;
}

input[type=text] {
  margin: 0.2em;
  padding: 1em;
  width: 30em;
  margin-bottom: 2em;
  border-radius: 10px;
}

label,
button {
  font-size: x-large;
  font: "Ranchers";
}

input[type="password"] {
  margin: 0.2em;
  padding: 1em;
  width: 30em;
  margin-bottom: 2em;
  border-radius: 10px;
}

#signup-button {
  width: 7em;
  border-radius: 8px;
  padding: 1em;
  background-color: #00ccff;
  font-size: x-large;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

#signup-button:hover {
  -webkit-box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: #008cff;
}

.signUpButtonContainer {
  margin: 0;
  position: absolute;
  top: 88%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.signUpButtonContainer a {
  text-decoration: none;
  color: #0A8754;
}

.signUpFieldset {
  width: 5em;
  margin: 0 auto;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px #666;
          box-shadow: 0 0 10px #666;
  position: relative;
  height: 750px;
}

#grid-container-add-question {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  justify-items: center;
  margin: 0 auto;
  max-width: 800px;
}

#question-input {
  grid-column: 1/-1;
  width: 100%;
  margin-bottom: -4em;
}

#answer-one {
  color: white;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  width: 10em;
  height: 10em;
  text-align: center;
  font-size: x-large;
  border: 2px solid black;
  background-color: red;
}

#answer-two {
  color: white;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  width: 10em;
  height: 10em;
  text-align: center;
  font-size: x-large;
  border: 2px solid black;
  background-color: blue;
}

#answer-three {
  color: white;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  width: 10em;
  height: 10em;
  text-align: center;
  font-size: x-large;
  border: 2px solid black;
  background-color: orange;
}

#answer-four {
  color: white;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  width: 10em;
  height: 10em;
  text-align: center;
  font-size: x-large;
  border: 2px solid black;
  background-color: green;
}

#topics-container {
  margin-top: -5em;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

#difficulty-container {
  margin-top: -5em;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

#add-question {
  grid-column: 1/-1;
  margin-top: -1em;
  padding: 1em;
}

@media only screen and (max-width: 600px) {
  #grid-container-add-question {
    display: block;
    margin: 0 auto;
    max-width: 50%;
    text-align: center;
  }
  #answer-one {
    margin-top: 2em;
  }
  #answer-two {
    margin-top: 1em;
  }
  #answer-three {
    margin-top: 1em;
  }
  #answer-four {
    margin-top: 1em;
  }
  #topics-container {
    margin-top: 1em;
  }
  #difficulty-container {
    margin-top: 1em;
  }
  #add-question {
    text-align: center;
    margin-top: 1em;
  }
}

#grid-container-gameplay {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  justify-items: center;
  margin: 0 auto;
  max-width: 800px;
}

#points-div {
  grid-column: 1/-1;
}

#gameplay-question-container {
  grid-column: 1/-1;
}

#answer-one-div {
  color: white;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  width: 10em;
  height: 10em;
  padding-top: 4em;
  text-align: center;
  font-size: x-large;
  border: 2px solid black;
  background-color: red;
}

#answer-two-div {
  color: white;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  width: 10em;
  height: 10em;
  padding-top: 4em;
  text-align: center;
  font-size: x-large;
  border: 2px solid black;
  background-color: blue;
}

#answer-three-div {
  color: white;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  width: 10em;
  height: 10em;
  padding-top: 4em;
  text-align: center;
  font-size: x-large;
  border: 2px solid black;
  background-color: orange;
}

#answer-four-div {
  color: white;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  width: 10em;
  height: 10em;
  padding-top: 4em;
  text-align: center;
  font-size: x-large;
  border: 2px solid black;
  background-color: green;
}

#start-game-header {
  background-color: lavender;
  padding: 0.1em;
  text-align: center;
}

#start-game-topics-container {
  background-color: lavender;
  margin-top: 1em;
  padding: 0.5em;
  text-align: center;
  font-size: x-large;
}

#start-game-fieldset {
  width: 17em;
  text-align: center;
}

.difficulty-label {
  max-width: 100%;
}

#start-game-topics {
  font-size: 1.5rem;
}

#start-game-topics option {
  font-size: x-large;
}

#start-game-button-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

#start-game-button {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  margin-top: 1em;
  padding: 1em;
  border-radius: 8px;
}

#high-scores {
  display: table;
  margin: 0 auto;
  max-width: 100%;
}

table {
  margin: 0 auto;
  max-width: 100%;
  margin-top: 1em;
}

table,
th,
tr,
td {
  border: 1px solid none;
  border-collapse: collapse;
  padding: 1em;
  font-size: 25px;
}

th {
  background-color: #00ccff;
}

tr:nth-child(odd) {
  background-color: #e6faff;
}

tr:nth-child(even) {
  background-color: #ccf5ff;
}

@media only screen and (max-width: 600px) {
  #grid-container-gameplay {
    display: block;
    margin: 0 auto;
    max-width: 50%;
  }
  #answer-one-div {
    width: 75%;
    height: 75%;
    margin-top: 2em;
  }
  #answer-two-div {
    width: 75%;
    height: 75%;
    margin-top: 1em;
  }
  #answer-three-div {
    width: 75%;
    height: 75%;
    margin-top: 1em;
  }
  #answer-four-div {
    width: 75%;
    height: 75%;
    margin-top: 1em;
  }
}

@media only screen and (max-width: 500px) {
  #login-fieldset {
    max-width: 5em;
  }
}
/*# sourceMappingURL=styles.css.map */